@model IEnumerable<WebApp2.Models.ArticleViewModel>

@{
    ViewBag.Title = "Articles";
}
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron">
        <p>
            @foreach (var article in Model)
            {
            <div class="panel">
                <div class="panel-body">
                    @article.Id
                    <div>
                        @article.Title
                    </div>
                </div>
                <div class="pager">
                    @if (article.Img == null)
                    {
                        article.Img = "~/Resourses/firefox.png";
                    }
                    <img src="@Url.Content(article.Img)" width="400" alt="IMAGES" />
                </div>
                <div class="pager">
                    @article.Txt
                </div>
                <div class="form-horizontal">
                    <button type="submit">
                        @Html.ActionLink("Редактировать", "Edit", new { id = article.Id })
                    </button>
                </div>
            </div>
            }
        </p>
    </div>
</body>
</html>
