@model IEnumerable<WebApp2.Models.ArticleViewModel>

@{
    ViewBag.Title = "Articles";
}
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron">
        <p>
            @foreach (var article in Model)
            {
                <div class="panel">

                    <div class="panel-body">
                        @article.Id
                        <div>
                            <right>
                                @if (article.Author.Photo == null)
                                {
                                    article.Author.Photo = "~/Resourses/defaultAu.png";
                                }
                                <img src="@Url.Content(article.Author.Photo)" width="100" style="border-radius:50px;" alt="IMAGES" />
                            </right>
                            <h1>
                                @article.Author.Name
                            </h1>
                        </div>
                    </div>

                    <div class="pager" style="background-color:bisque; height:100%; border-style:groove">
                        <div>
                            <center>
                                <h2>
                                    @article.Title
                                </h2>
                            </center>
                        </div>

                        @if (article.Img == null)
                        {
                            article.Img = "~/Resourses/firefox.png";
                        }
                        <img src="@Url.Content(article.Img)" width="400" alt="IMAGES" />
                        <div id="txt" style="overflow:hidden">
                            @article.Txt
                        </div>
                        <a class="read-next" style="display:none;" href="#">Читать далее...</a>
                    </div>

                    <div class="form-horizontal">
                        <a class="btn btn-default" href="@Url.Action("Edit", new { id=article.Id })"> Редактировать &raquo;</a>
                    </div>

                </div>
            }
        </p>
    </div>

    <script>
    window.onload = function(){
        blok = document.getElementById('txt');
        parent = blok.parentNode;
        blok_height = blok.style.height ? blok.style.height : blok.offsetHeight;

        if(blok_height > 100){
            blok.style.maxHeight = '100px';
            link = parent.getElementsByClassName('read-next')[0];
            link.style.display = 'inline';
            link.onclick = function () {

                if(blok.style.maxHeight){
                   blok.style.maxHeight = ''
                   link.innerHTML = 'Скрыть';
                } else {
                   blok.style.maxHeight = '100px';
                   link.innerHTML = 'Читать далее...';
                }

                return false;
            }
        }
    }
    </script>

</body>
</html>
