@model WebApp2.Models.AuthorViewModel

@{
    ViewBag.Title = "Authors";
}
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="panel">
        @Html.DisplayNameFor(model => model.Id)
        @Html.DisplayFor(model => model.Id)

        @Html.DisplayNameFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
        <p>
            @foreach (var obj in Model.Articles)
            {
                <div class="panel-body">
                    @obj.Title
                    <div class="pager">
                        @if (obj.Img == null)
                        {
                            obj.Img = "~/Resourses/firefox.png";
                        }
                        <img src="@Url.Content(obj.Img)" width="400" alt="IMAGES" />
                    </div>
                </div>
            }
        </p>
    </div>
</body>
</html>
