@model IEnumerable<WebApp2.Models.AuthorViewModel>

@{
    ViewBag.Title = "Authors";
}
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="jumbotron" style="border-style:groove">
        <table class="table">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Nickname
                </th>
                <th>
                    Birthday
                </th>
                <th>
                    Articles
                </th>
                <th></th>
            </tr>

            @foreach (var author in Model)
            {
                <tr>
                    <td>
                        @author.Id
                    </td>
                    <td>
                        @if (author.Photo == null)
                        {
                            author.Photo = "~/Resourses/defaultAu.png";
                        }
                        <img src="@Url.Content(author.Photo)" width="100" style="border-radius:50px;" alt="IMAGES" />
                    </td>
                    <td>
                        @author.Name
                    </td>
                    <td>
                        @author.Birthday
                    </td>
                    <td>
                        @Html.ActionLink("Подробнее", "Details", new { id = author.Id })
                    </td>
                </tr>
            }
        </table>

        <hr />
    </div>
</body>
</html>
