<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Books, Ukrain, Read Book, Download Book" />
    <meta name="description" content="Read online or Download Books" />
    <link rel="icon" href="~/Resourses/IconBook.png" />
    <title>@ViewBag.Title - AntiKoronaBlog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-fixed-top">
        <div class="container" id="Container">
            <div class=" navbar-left">
                <ul>
                    <li>
                        <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("Index", "Home")">
                            @*<img src="@Url.Content("~/Resourses/IconBook.png")" width="30" alt="IMAGES" />*@  Home
                        </a>
                    </li>
                    <li>
                        <a class=" btn" href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                    <li>
                        <a class=" btn" href="@Url.Action("Index", "Article")">Books</a>
                        <ul>
                            <li>
                                <a class=" btn" href="@Url.Action("Index", "Article", new {category = 1})">Fantasy</a>
                            </li>
                            <li>
                                <a class=" btn" href="@Url.Action("Index", "Article", new {category = 2})">Vampires</a>
                            </li>
                            <li>
                                <a class=" btn" href="@Url.Action("Index", "Article", new {category = 3})">Fantastic</a>
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            <a class="btn">
                                Adminka
                            </a>
                            <ul>
                                <li>
                                    <a class="btn" href="@Url.Action("Create", "Article")">Create Article</a>
                                </li>
                                <li>
                                    <a class="btn" href="@Url.Action("Delete", "Article")">Delete Article</a>
                                </li>

                                <li>
                                    <a class="btn" href="@Url.Action("Create", "Author")">Create Author</a>
                                </li>
                                <li>
                                    <a class="btn" href="@Url.Action("Delete", "Author")">Delete Author</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div class="navbar-left">
                @using (Html.BeginForm("Filter", "Article"))
                {
                    <input type="text" name="filter" value="@ViewBag.filter" placeholder="Input Title..." />
                    <button type="submit">Find</button>
                }
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
