<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Books, Ukrain, Read Book, Download Book" />
    <meta name="description" content="Read online or Download Books" />
    <link rel="icon" href="~/Resourses/IconBook.png" />
    <title>@ViewBag.Title - AntiKoronaBlog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        #Container ul {
            list-style: none;
        }

            #Container ul li {
                background-color: burlywood;
                width: 150px;
                border: 2px solid bisque;
                height: 50px;
                line-height: 50px;
                text-align: center;
                float: left;
                color: black;
                font-size: 19px;
            }

                #Container ul li:hover {
                    background-color: bisque;
                }

            #Container ul ul {
                display: none;
            }

            #Container ul li:hover > ul {
                display: block;
            }

        a {
            color: saddlebrown;
        }

        body {
            background-color: bisque
        }
    </style>
</head>
<body>
    <div class="navbar-fixed-top" style="background-color:burlywood; border-color:bisque">
        <div class="container" id="Container">
            <div class=" navbar-left">
                <ul>
                    <li>
                        <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/Resourses/IconBook.png")" width="30" alt="IMAGES" />  Home
                        </a>
                    </li>
                    <li>
                        <a class=" btn" style="height:inherit; width: inherit" href="@Url.Action("About", "Home")">Информация</a>
                    </li>
                    <li>
                        <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("Contact", "Home")">Связаться</a>
                    </li>
                    <li>
                        <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("Index", "Article")">Статьи</a>
                        <ul>
                            <li>
                                <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("Index", "Article", new {category = 1})">Фентези &raquo;</a>
                            </li>
                            <li>
                                <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("Index", "Article", new {category = 2})">Вампиры &raquo;</a>
                            </li>
                            <li>
                                <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("Index", "Article", new {category = 3})">Фантастика &raquo;</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
