@model IEnumerable<TheTask.Models.EmpPL>

<div>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>DEPTNO</th>
            <th>DEPTNAME</th>
            <th>EMPNO</th>
            <th>ENAME</th>
            <th>COMM</th>
            <th>HIREDATE</th>
            <th>JOB</th>
            <th>MGR</th>
            <th>SAL</th>
            <th>SALGRADE</th>
        </tr>
        @foreach (var emps in Model)
        {

            <tr id="@emps.EMPNO">

                <td>@emps.DEPTNO</td>
                <td>@emps.DEPTNAME</td>
                <td>@emps.EMPNO</td>
                <td>@emps.ENAME</td>
                <td>@emps.COMM</td>
                <td>@emps.HIREDATE</td>
                <td>@emps.JOB</td>
                <td>@emps.MGR</td>
                <td>@emps.SAL</td>
                <td>@emps.SALGRADE</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = emps.EMPNO })
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "Delete", new { id = emps.EMPNO }, new AjaxOptions
{ HttpMethod = "DELETE", UpdateTargetId = emps.EMPNO.ToString(), InsertionMode = InsertionMode.Replace })
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}

