<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Korona, Ukrain, Blog, Blogger" />
    <meta name="description" content="Это мой Блог" />
    <link rel="icon" href="~/Resourses/firefox.png" />
    <title>@ViewBag.Title - AntiKoronaBlog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        #Container ul {
            list-style: none;
        }

            #Container ul li {
                background-color: lightsteelblue;
                width: 150px;
                border: 1px solid black;
                border-radius: 10px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                float: left;
                color: darkslateblue;
                font-size: 19px;
            }

                #Container ul li:hover {
                    background-color: darkgrey;
                }

            #Container ul ul {
                display: none;
            }

            #Container ul li:hover > ul {
                display: block;
            }

        body {
            background: url(Resourses/Space.gif) no-repeat;
            background-size: cover;
            position: sticky;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AntiKoronaBlog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div  id="Container">
                <ul>
                    <li>
                        <a class=" btn" style="height:inherit; width:inherit" href="@Url.Action("About", "Home")">Информация</a>
                    </li>
                    <li>
                        <a class=" btn"style="height:inherit; width:inherit"  href="@Url.Action("Contact", "Home")">Связаться</a>
                    </li>
                    <li>
                        <a class=" btn"style="height:inherit; width:inherit"  href="@Url.Action("Index", "Article")">Статьи</a>
                    </li>
                    <li>
                        AuthorMenu
                        <ul>
                            <li>
                                <a class=" btn" style="height:inherit; width:inherit"  href="@Url.Action("Index", "Author")">Authors &raquo;</a>
                            </li>
                            <li>
                                <a class=" btn" style="height:inherit; width:inherit"  href="@Url.Action("Create", "Author")">Create Author &raquo;</a>
                            </li>
                            <li>
                                <a class=" btn" style="height:inherit; width:inherit"  href="@Url.Action("Delete", "Author")">Delete Author &raquo;</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AntiKoronaBlog</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
