@model PortalForReading.Models.AuthorView


@{
    ViewBag.Title = "Delete Author";
}

<h3>@ViewBag.Title</h3>
<div style=" background-color: #CCD6DD;
    border-radius: 15px;
    border: groove;
    border-color: #66757F">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <wbr />
        <img src="~/Resourses/DeleteImg.png" width="150" height="150" alt="IMAGES" style=" float: left" />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Id, ViewBag.Author as IEnumerable<SelectListItem>)
            </div>
        </div>
        <button type="submit">Отправить</button>
    }
    <div>
        @Html.ActionLink("Back to List", "Index", "Home")
    </div>
</div>
