@model PagedList.IPagedList<PortalForReading.Models.ArticleView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Articles";
}
<h3>@ViewBag.Message</h3>

<div class="panel-body" style="background-color: transparent; @*background:url(../../Resourses/Game-menu.png); background-size:cover;*@ border-radius:15px; border:groove; border-color:burlywood">

    @foreach (var article in Model)
    {
        <div class="panel" style="/*background: url(../../Resourses/BackPanel.png) no-repeat; background-size:cover;background-attachment: inherit;*/
 background-color:burlywood;  border-radius: 15px; border: groove; border-color: burlywood">
            @article.Id
            <h1>
                @article.Title
            </h1>
            <hr />
            <img src="@Url.Content(article.Img)" width="200" alt="IMAGES" style=" border-radius: 15px; border: groove; border-color: bisque; float: left" />
            <h2>
                Автор:
                <a href="@Url.Action("AuthorArticles", new {author = article.Author.Id })">@article.Author.Name</a>
            </h2>
            <div>
                <h2>
                    Жанр:
                    @foreach (var category in article.Categories)
                    {
                        @category.Title
                        <wbr />
                    }
                </h2>
            </div>
            <br />
            <p class="panel-body" style=" border-radius: 15px; border: groove; border-color: bisque;">
                @article.Txt
            </p>
            <hr />
            <a class="btn btn-default" style="background-color: bisque" href="@Url.Action("ReadOnline", new { id=article.Id, pagenumber = 0})">To read</a>
            <a class="btn btn-default" style="background-color:bisque" href="@Url.Action("DownLoad", new { id=article.Id })">Download</a>
            @if (User.IsInRole("admin"))
            {
                <a class="btn btn-default" style="background-color:bisque" href="@Url.Action("Edit",new { id=article.Id })">Edit</a>
            }
        </div>
    }
</div>
<br />
<center>
    <div class="pagination">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = ViewBag.category}))
    </div>
</center>