<div class="panel-body">
    @foreach (var article in Model)
    {
        <div class="panel">
            <h1>
                @article.Title
            </h1>

            <hr />
            <img src="@Url.Content(article.Img)" width="200" height="304" alt="IMAGES" style=" border-radius: 15px; border: groove; border-color: white; float: left" />

            <h2>
                Автор:
                <a href="@Url.Action("AuthorArticles", new {author = article.Author.Id })">@article.Author.Name</a>
            </h2>

            <br />
            <p class="panel-body" style=" border-radius: 15px; border: groove; border-color: white">
                @article.Txt
            </p>
            <hr />

            <a class="btn btn-default" href="@Url.Action("ReadOnline", new { id=article.Id, pagenumber = 0})">To read &raquo;</a>
            <a class="btn btn-default" href="@Url.Action("DownLoad", new { id=article.Id })">Download</a>
            @if (User.IsInRole("admin"))
            {
                <a class="btn btn-default" href="@Url.Action("Edit",new { id=article.Id })">Edit &raquo;</a>
            }
        </div>
    }
</div>
