@model IEnumerable<PortalForReading.Models.ArticleView>

@{
    ViewBag.Title = "Articles";
}
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="panel-body" style="background-color: transparent; border-radius:15px; border:groove; border-color:burlywood">
        @foreach (var article in Model)
        {
            <div class="panel" style="background-color:burlywood; border-radius:15px; border:groove; border-color:burlywood">
                @article.Id

                <h1>
                    @article.Title
                </h1>

                <hr />
                <img src="@Url.Content(article.Img)" width="200" alt="IMAGES" style="border-radius:15px; border:groove; border-color:bisque; float:left" />

                <h2>
                    Автор:
                    <a href="@Url.Action("AuthorArticles", new {author = article.Author.Id })">@article.Author.Name</a>
                </h2>

                <br />
                <p class="panel-body" style=" border-radius: 15px; border: groove; border-color: bisque">
                    @article.Txt
                </p>
                <hr />

                <a class="btn btn-default" style="background-color:bisque" href="@Url.Action("ReadOnline", new { id=article.Id, pagenumber = 0})"> Читать &raquo;</a>
                <a class="btn btn-default" style="background-color:bisque" href="@Url.Action("Edit", new { id=article.Id })"> Скачать &raquo;</a>
            </div>
        }
    </div>
</body>
</html>
