@model PortalForReading.Models.ArticleBookView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadOnline</title>
</head>
<body>
    <div class="pager" style="background-color:transparent">
        <p>
            <strong>
                @Model.Title
            </strong>
            <hr />
            <div>
                <img src="@Url.Content(Model.Book)" alt="IMAGES" style="border-radius:15px; border:groove; border-color:burlywood"/>
            </div>
            <hr />
            <a class="btn btn-default" style="background-color:burlywood" href="@Url.Action("ReadOnline",new{id= @Model.Id, pagenumber = (@Model.pagenumber - 1)})"> <<</a>
            @Model.pagenumber
            <a class="btn btn-default" style="background-color:burlywood" href="@Url.Action("ReadOnline",new{id= @Model.Id, pagenumber = (@Model.pagenumber + 1)})"> >></a>
        </p>
    </div>
</body>
</html>
