@model PortalForReading.Models.ArticleBookView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadOnline</title>
</head>
<body>
    <div class="pager" style="background-color:moccasin">
        <p style="text-emphasis-position:below">
            <strong>
                @Model.Title
            </strong>
            <hr />
            <div id="txt" style="overflow:hidden" align="justify">
                <strong>
                    @foreach (var ch in @Model.BookPagin)
                    {
                        @ch;
                    }
                </strong>
            </div>
            <hr />
            <a class="btn btn-default" style="background-color:bisque" href="@Url.Action("ReadOnline",new{id= @Model.Id, pagenumber = (@Model.pagenumber - 1)})"> <<</a>
            @Model.pagenumber
            <a class="btn btn-default" style="background-color: bisque" href="@Url.Action("ReadOnline",new{id= @Model.Id, pagenumber = (@Model.pagenumber + 1)})"> >></a>
        </p>
    </div>
</body>
</html>
